/* * {
  background-color: #fdefeb;
} */

.login_container1 {
  background-color: #fdefeb;
  margin: 0rem;
}

.login_container2 {
  display: flex;
  flex-direction: column;
  width: 25%;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  background-color: #ffffff;
}

.matter {
  padding: 2rem;
}

#error {
  color: red;
  opacity: 0.5;
  font-size: 10px;
}

.login_button {
  background-color: #ff3f6c;
  border: none;
  color: #fff;
  width: 100%;
  padding: 0.8rem 1.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
}

.login_input {
  width: 100%;
  height: 2.5rem;
  font-size: 1rem;
  margin-bottom: 0.8rem;
  padding: 1rem 1rem;
  color: black;
  opacity: 0.8;
}

.login_p {
  font-size: 0.9rem;
  color: #000;
  opacity: 0.8;
}

.login_img {
  width: 100%;
}

.login_b {
  color: #f52858;
  opacity: 1;
}

.login_h2 {
  opacity: 0.8;
  font-family: sans-serif;
}
